@model Desafio_MVC.DTO.VagaDTO
@{
    Layout = "_LayoutAdmin";
}
<h1>Editar Vaga</h1>
<hr/>
<hr/>
<form class="form-horizontal" asp-action="Atualizar" asp-controller="Vaga" method="POST">  

<input type="hidden" asp-for="Id" ><br>

<label asp-for="DataAbertura">Data de Abertura:</label>
<input class="form-control" type="date" asp-for="DataAbertura"placeholder="Digite a data de abertura da vaga">
<span class="text-danger"asp-validation-for="DataAbertura"></span><br><br>

<label asp-for="Codigo">Codigo Vaga:</label>
<input class="form-control" type="text" asp-for="Codigo"placeholder="Digite o código da Vaga">
<span class="text-danger"asp-validation-for="Codigo"></span><br><br>

<label asp-for="Cliente">Nome do Cliente:</label>
<input class="form-control" type="text" asp-for="Cliente"placeholder="Digite o Nome do Cliente">
<span class="text-danger"asp-validation-for="Cliente"></span><br><br>

<label asp-for="Cargo">Cargo da Vaga:</label>
<input class="form-control" type="text" asp-for="Cargo"placeholder="Digite o cargo pretendido">
<span class="text-danger"asp-validation-for="Cargo"></span><br><br>

<label asp-for="Descricao">Descrição da Vaga:</label>
<input class="form-control" type="text" asp-for="Descricao"placeholder="Digite uma descrição breve da vaga"><br><br>


<label asp-for="Projeto">Nome do Projeto:</label>
<input class="form-control" type="text" asp-for="Projeto"placeholder="Digite o nome do projeto">
<span class="text-danger"asp-validation-for="Projeto"></span><br><br>

<label asp-for="Quantidade">Quantidade de Vagas:</label>
<input class="form-control" type="number" asp-for="Quantidade"placeholder="Digite a quantidade de vagas">
<span class="text-danger"asp-validation-for="Quantidade"></span><br><br>

<p>Selecione uma Unidade da GFT:</p>
<select class="form-control" asp-for="GftId" asp-items='@(new SelectList(@ViewBag.Gft,"Id", "Nome"))'></select>
<span class="text-danger"asp-validation-for="GftId"></span><br><br>

<p>Selecione uma Tecnologia Principal:</p>
<select class="form-control" asp-for="TecnologiaId" asp-items='@(new SelectList(@ViewBag.Tecnologia,"Id", "NomeTec"))'></select>
<span class="text-danger"asp-validation-for="TecnologiaId"></span><br><br>

<button class="btn btn-success">Atualizar</button><br><br>

</form>

<a href="javascript:history.back();">Voltar</a>