@{
    Layout = "_LayoutAdmin";
}

<h1 class="display-6">Sistema de Gerenciamento de Funcionários em WA</h1><br><br>

<form class="form-horizontal" asp-action="PopularBD" asp-controller="wa" >  

<button asp-action="PopularBD" asp-controller="wa" class="btn btn-success" onclick="msg()" id="btnPopular">Popular Banco de Dados</button><br><br>



<script>function msg() {
alert("Banco de Dados já atualizado, não é possível atualizar novamente!");
$("#btnPopular").attr("disabled", true);
}
</script>
<button asp-action="TesteBD" asp-controller="Tecnologia" class="btn btn-success" >Popular Banco de Dados</button><br><br>


</form>